# Ignore executable binary
app

# Ignore object files
*.o

# Ignore backup or temp files
*~

# Ignore core dumps
core

# Ignore Vim swap files
*.swp

# Ignore other editor temp files
*.tmp

# Ignore mp4 files
*.mp4

# Ignore directories
.vscode/
video_frames/
build/

